@import "normalize.css";


@font-face {
		font-family: 'NationalExtrabold';
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.svg#webfontidGqM69c') format('svg');
		font-weight: bold;
		font-style: normal;
		font-size-adjust: .46;
}

@font-face {
		font-family: 'NationalExtrabold';
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.svg#webfontQZOAsODx') format('svg');
		font-weight: bold;
		font-style: italic;
		font-size-adjust: .46;
}

html {
	background: #f6f5f5 url(/assets/images/texture.png) repeat;
}

body {
	color: rgb(64, 64, 64);
	font-family: Inconsolata, Menlo, Courier, monospace;
	font-size: 14px;
	line-height: 24px;
	padding: 0;
}

h1, h2, h3 {
	font-family: "NationalExtrabold", "Helvetica Neue", Arial, sans-serif;
	color: #333;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 0;
	line-height: 1;
	font-size-adjust: 0.46;
	letter-spacing: -0.055;
}

h1 {
	margin-left: -1px;
}

h2 {
	margin-bottom: 15px;
	text-shadow: 0 1px 1px #fff;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 22px;
}

p, li, td {
	color: #2B2B2B;
}

p {
	margin: 0 0 1em;
}

ul, ol {
	margin: 0 0 1em;
	padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	padding-left: 1em;
}

li {

}

.post li p {
	margin: 0 0 .2em;
}

.post ul li {
	list-style: disc;
}

.post li ul li {
	list-style: circle;
}

.post li li ul li {
	list-style: square;
}

code {
	font-family: Console, monospace;
}

hr {
	border: none;
	border-top: 1px dashed #aaa;
}

a {
	outline: none;
	text-decoration: none;
	padding: 2px;
	color: #E51A86;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
	a:hover,
	a:focus {
		text-decoration: none;
		background: #E51A86;
		color: #fff;
	}

#header {
	width: 220px;
	position: fixed;
	padding: 40px 60px;
}
	#header p {
		font-size: 12px;
		line-height: 16px;
		color: #aaa;
	}

	#header a {
		color: #aaa;
		text-decoration: underline;
	}
		#header a:hover,
		#header a:focus {
			text-decoration: none;
			color: #fff;
		}

	#header ul {
		margin: 0;
		padding: 0;
	}

	#header li {
		list-style: none;
	}

.logo {
	display: block;
	margin-bottom: 20px;
}
	.logo:hover,
	.logo:focus {
		background: transparent;
		opacity: 0.8;
	}

#content {
	padding: 48px 0 0 340px;
	width: 500px;
}

.posts {
	margin: 0;
	padding: 0;
}

	.posts .post {
		list-style: none;
		padding: 0;
		margin: 0;
	}

.inline {
	padding: 0;
}
	.inline li {
		list-style: none;
		margin: 0;
		display: inline;
	}

.tags li {
	text-transform: lowercase;
}
	.tags li span {
		display: none;
	}

.post {}

.post-title {
	display: block;
}
	.post-title a {
		display: inline;
		margin: 0 0 0 -2px;
	}

.post-intro {
	position: relative;
}
	.post-intro p {
		color: #aaa;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

		.post-intro p:hover,
		.post-intro p:focus {
			color: rgb(64, 64, 64);
		}

.post-spinner {
	display: none;
	position: absolute;
	top: 20px;
	left: 50%;
	font-size: 45px;
	color: #ccc;
	margin: 0 0 0 -20px;
}

.post-text {
	position: relative;
}

.post-footer {
	margin: 16px 0 48px;
	position: relative;
	border: 1px dashed #ccc;
}

	.post-footer:before,
	.post-footer:after,
	.post-footer p:before,
	.post-footer p:after {
		content: '+';
		display: block;
		color: #ccc;
		font-size: 10px;
		position: absolute;
		top: -12px;
		left: -3px;
	}

	.post-footer:after,
	.post-footer p:after {
		left: 100%;
		margin-left: -2px;
	}

	.post-footer p:before,
	.post-footer p:after {
		top: 100%;
		margin-top: -7px;
	}

	.post-footer p {
		margin: 0;
		padding: 7px;
		color: #aaa;

		font-size: 12px;
		line-height: 16px;
		color: #aaa;
	}

	.post-footer a {
		color: #aaa;
	}
		.post-footer a:hover,
		.post-footer a:focus {
			background: none;
			color: rgb(64, 64, 64);
		}

.content-footer {
	border-top: 1px dashed #ccc;
	margin-top: 96px;
	padding: 15px 0 96px;
	color: #aaa;
}
	.content-footer p {
		color: #aaa;
		font-size: 12px;
		line-height: 16px;
		padding: 0;
		margin: 0;
	}

	.content-footer a {
		color: #aaa;
	}
		.content-footer a:hover,
		.content-footer a:focus {
			color: #000;
			background: none;
		}
