@import "normalize.css";

@font-face {
		font-family: 'National';
		src: url('http://dna.co.nz/themes/Base/fonts/national-bold-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-bold-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-bold-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-bold-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-bold-webfont.svg#webfontXEh3gJ3S') format('svg');
		font-weight: bold;
		font-style: normal;
		font-size-adjust: .46;
}

@font-face {
		font-family: 'National';
		src: url('http://dna.co.nz/themes/Base/fonts/national-bolditalic-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-bolditalic-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-bolditalic-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-bolditalic-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-bolditalic-webfont.svg#webfontYmR94w0D') format('svg');
		font-weight: bold;
		font-style: italic;
		font-size-adjust: .46;
}

@font-face {
		font-family: 'National';
		src: url('http://dna.co.nz/themes/Base/fonts/national-book-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-book-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-book-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-book-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-book-webfont.svg#webfontKVq5rVfJ') format('svg');
		font-weight: normal;
		font-style: normal;
		font-size-adjust: .46;
}

@font-face {
		font-family: 'National';
		src: url('http://dna.co.nz/themes/Base/fonts/national-bookitalic-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-bookitalic-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-bookitalic-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-bookitalic-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-bookitalic-webfont.svg#webfontlguOA8Rs') format('svg');
		font-weight: normal;
		font-style: italic;
		font-size-adjust: .46;
}

@font-face {
		font-family: 'NationalExtrabold';
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabold-webfont.svg#webfontidGqM69c') format('svg');
		font-weight: bold;
		font-style: normal;
		font-size-adjust: .46;
}

@font-face {
		font-family: 'NationalExtrabold';
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.eot');
		src: url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.eot?iefix') format('eot'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.woff') format('woff'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.ttf') format('truetype'),
				url('http://dna.co.nz/themes/Base/fonts/national-extrabolditalic-webfont.svg#webfontQZOAsODx') format('svg');
		font-weight: bold;
		font-style: italic;
		font-size-adjust: .46;
}

html {
	background: #fff;
}

body {
	background: #f0f0f1;
	color: #2b2b2b;
	font-family: National, "Helvetica Neue", Arial, sans-serif;
	font-size-adjust: 0.46;
	font-size: 62.5%;
	line-height: 1.8em;
	padding: 0;
}

h1, h2, h3 {
	font-family: "NationalExtrabold", "Helvetica Neue", Arial, sans-serif;
	color: #333;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -0.055;
}

h1 {
	margin-left: -1px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
}

h4 {
	font-size: 18px;
	line-height: 22px;
}

p, li, td {
	font-size: 16px;
	line-height: 25px;
	color: #2B2B2B;
}

p {
	margin: 0 0 1em;
}

ul, ol {
	margin: 0 0 1em;
	padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	padding-left: 1em;
	margin-bottom: .2em;
}

li {

}

li p {
	margin: 0 0 .2em;
}

code {
	font-family: Console, monospace;
}

hr {
	border: none;
	border-top: 1px dashed #aaa;
}

a {
	outline: none;
	text-decoration: none;
	color: #E51A86;
}
	a:hover,
	a:focus {
		text-decoration: underline;
	}

.wrapper {
	margin: 0 auto;
	width: 880px;
	position: relative;
}

.inline,
.posts {
	margin: 0 auto;
	padding: 0;
}
	.inline li {
		display: inline;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.posts li {
		list-style: none;
	}

#header {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 68px;
	background: #fff;
	border-bottom: 2px solid rgba(43, 43, 43, 0.2);
}
	.logo {
		padding: 14px 20px 0 0;
		border-right: 1px solid #d7d7d7;
		height: 54px;
		display: block;
		float: left;
	}

	.tagline {
		width: 430px;
		padding: 21px 0 0 20px;
		margin: 0;
		float: left;
		font: italic 14px/16px National, arial, sans-serif;
	}

	.search-tags {
		float: right;
		height: 68px;
		cursor: pointer;
		width: 64px;
		border-right: 1px solid #d7d7d7;
		background: url(../images/search.png) no-repeat center 25px;
	}

	.tags {
		display: none;
		position: absolute;
		top: 0;
		left: 135px;
		width: 670px;
		height: 43px;
		background: #2b2b2b;
		padding: 20px 5px 5px;
	}
		.tags p {
			float: left;
			color: #959a9e;
			margin: 4px 10px 0 5px;
			font-size: 10px;
			text-transform: uppercase;
		}

		.tags li {
			float: left;
		}

		.tags ul {
			margin-top: 4px;
		}
		.tags a span {
			display: none;
		}

		.tags a {
			color: #eaeaea;
			float: left;
			display: block;
			font-size: 11px;
			margin: 0 6px 2px 0;
		}
			.tags a:hover,
			.tags a:focus {
				text-decoration: underline;
			}
	.rss-feed {
		float: right;
		height: 68px;
		text-indent: -9000px;
		overflow: hidden;
		outline: none;
		border: 1px solid #d7d7d7;
		border-width: 0 1px;
		width: 64px;
		background: url(../images/feed.png) no-repeat center 25px;

		-webkit-transition: opacity 1s ease;
		-moz-transition: opacity 1s ease;
		-ms-transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		transition: opacity 1s ease;
	}
		.search-tags:focus,
		.search-tags:hover,
		.rss-feed:hover,
		.rss-feed:focus {
			opacity: 0.6;
		}

.content {
	padding-top: 68px;
}

#container {
	width: 480px;
	margin: 0 auto;
}

#wrapper {
	width: 880px;
}

.post {
	padding: 20px;
	margin: 20px 0;
	position: relative;
}

	.post h2 {
		margin: 0;
	}

	.post-intro {
		margin-left: 116px;
		/*border-left: 1px solid #ddd;*/
		padding-left: 20px;
	}

	.post .tag_box {
		margin: 0;
	}
		.post .tag_box a {
			font-family: Consolas, "Liberation Mono", Courier, monospace;
			color: #999;
			margin: 0 4px 4px 0;
			float: left;
			font-size: 10px;
		}

	.post .meta {
		position: absolute;
		top: 20px;
		left: 20px;
	}
		.post .meta p {
			background: #ddd;
			clear: both;
			color: #666;
			float: left;
			font-family: Consolas, "Liberation Mono", Courier, monospace;
			font-size: 10px;
			line-height: 1;
			margin: 0 0 5px;
			padding: 5px;
		}

	.pagination {
		margin-top: 15px;
	}

	.pagination ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.pagination li {
		float: left;
	}

	.pagination a {
		padding: 0 5px;
	}

	.pagination li:first-child a {
		padding-left: 0;
	}

#footer {
	border-top: 2px solid rgba(43, 43, 43, 0.2);
	width: 100%;
	margin-top: 80px;
	padding-top: 30px;
	background: #fff;
}
	#footer h2 {
		padding: 0 0 0;
		margin: 0 0 15px;
		font-size: 16px;
	}

	#footer ul {
		margin: 0 0 0;
		padding: 0;
		clear: both;
		overflow: hidden;
		list-style: none;
	}

	#footer h3 {
		font-size: 12px;
		text-transform: none;
		padding: 0;
		margin: 0 0 2px 0;
		line-height: 15px;
	}
		#footer h3 a {
			display: block;
			font-weight: normal;
		}
			#footer h3 a:hover,
			#footer h3 a:focus {
				text-decoration: underline;
			}

	#footer img {
		float: left;
		margin: 0 10px 10px 0;
		border: 1px solid #ddd;
		border-radius: 2px;
		padding: 1px;
	}

	#footer small {
		color: #999;
		font-size: 11px;
		font-weight: normal;
	}

	#footer li {
		float: left;
		width: 170px;
		margin-bottom: 10px;
		overflow: hidden;
	}

	#footer p {
		margin: 0;
		padding: 0;
		font-size: 12px;
	}

	#footer .copyright {
		padding: 50px 0 20px;
	}